<div class="card card-profile">

    <div class="card-avatar">

        <a href="javascript:void(0)">
            <img class="img" [src]="hero.picture" />
        </a>
    </div>
    <div class="card-body">

        <h6 class="card-category text-gray">{{hero?.publisher}}</h6>
        <h4 class="card-title">{{hero?.name}}</h4>
        <p class="card-description">
            {{hero?.info}}
        </p>
        <div class="stats">
            <i class="material-icons"
            (click)="action(true)">thumb_up_alt</i>
            <i class="material-icons"
            (click)="action(false)">thumb_down_alt</i>
        </div>
        <a [routerLink]="['/superheroes']" class="btn btn-danger btn-round">Regresar al listado</a>
    </div>
</div>