<div class="card card-chart">

    <div class="card-header card-header-success" [routerLink]="['/hero-profile', hero?.id]">
        <img [src]="hero.picture">
    </div>

    <div class="card-body">
        <h4 class="card-title">{{hero?.name}} - <strong>{{hero?.publisher}}</strong></h4>
        <p class="card-category">
            {{hero?.info}}
        </p>
    </div>

    <div class="card-footer">
        <div class="stats">
            <i class="material-icons"
            (click)="action(true)">thumb_up_alt</i>
            <i class="material-icons"
            (click)="action(false)">thumb_down_alt</i>
        </div>
    </div>

</div>