<div class="main-content">

  <div class="container-fluid">
      
      <div class="row">

          <div *ngFor="let hero of pageOfItems"
          class="col-lg-4 col-md-6 col-xs-12">
            <chef-hero-card [hero]="hero" (reaction)="reaction($event)"></chef-hero-card>
          </div>

      </div>

      <div class="row">
        <jw-pagination [pageSize]="9" [items]="heroList" (changePage)="onChangePage($event)"></jw-pagination>
      </div>

  </div>

</div>
