<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4 offset-md-4" *ngIf="hero">
            <chef-hero-card-detail [hero]="hero"
            (reaction)="reaction($event)"></chef-hero-card-detail>
          </div>
      </div>
  </div>
</div>
