swiper{
    height: 250px;
    width: 80%;
    margin: auto;
}
 
.swiper-slide{
    width: 50% !important;
    img{
        width: 100%;
    }
}
.info{
    position: absolute;
    bottom: 0px;
    height: 110px;
    width: calc(100% - 80px);
    background: #fff;
    opacity: 0.8;
    color: #333;
    padding: 10px;;
}
p{
    margin: 0;
    font-weight: bold;
}