<div class="main-content">

  <div class="container-fluid">

    <div class="row">
      <swiper [config]="config">
        <div class="swiper-wrapper">
          <ng-container *ngFor="let hero of heroList; let i = index">
          <div class="swiper-slide" *ngIf="i < 10">
              <img [src]="hero.picture" />
              <div class="info">
                <p>{{hero.name}}</p>
                <p>Me gusta: {{hero.likes}}</p>
                <p>No me gusta: {{hero.nonlikes}}</p>
                <p>Total votos: {{hero.total}}</p>
              </div>
            </div>
          </ng-container>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </swiper>
    </div>
  </div>

</div>
